@model ErpToolkit.Helpers.Holder
<h1>A new ViewData dictionary instance has been created for this partial view</h1>
<h2>Name from model "@Model.Name"</h2>
<h2>Name from ViewData "@ViewData["Name"]"</h2>