@model ErpToolkit.Helpers.Holder
<h1>This is rendered from an cshtml partial view</h1>
<h2>Name from model "@Model.Name"</h2>
<h2>Name from ViewBag "@ViewBag.AnotherName"</h2>
<h2>Name from ViewData "@ViewData["Name"]"</h2>
