 #connectionString_IRISRef q7C6pBEURT?????????????????????????????????????????????????????????????????????????????????????????????????????==
 #connectionString_IRISLive q7C6pBEUR?????????????????????????????????????????????????????????????????????????????????????????????????????==
 #connectionString_SQLSLocal Data Source=??????????;Initial Catalog=??????????;User ID=??????????;Password=??????????;TrustServerCertificate=true
 #traceDbALL 1
 #usersAllowedList 11111111,00000000
 #MinutelyJob 2

;#ldapServerAddress LDAP://???????.??.???????.it/DC=???????,DC=??,DC=???????,DC=??