@model ErpToolkit.Controllers.SIO.Patient.ComuneController
@{
    ViewData["Title"] = "Comune";
    TempData["Sequence"] = TempData["Sequence"];
}
<h1>@ViewData["Title"]</h1>
<div class="container row justify-content-start align-items-end" style="width:100%; margin:0 auto;">
    <div style="width:100%; margin:0 auto;">
        <div id="SelectNonModale" tabindex="-1" role="dialog" aria-labelledby="titolo" aria-hidden="false">
            @{
                await Html.RenderPartialAsync("~/Views/SIO/Patient/Comune/_PartialSelect.cshtml", Model.Select);
            }
        </div>
        <div id="ListNonModale" tabindex="-1" role="dialog" aria-labelledby="titolo" aria-hidden="false">
            @{
                await Html.RenderPartialAsync("~/Views/SIO/Patient/Comune/_PartialList.cshtml", Model.List);
            }
        </div>
    </div>
</div>
<div class="modal fade" id="EditModale" tabindex="-1" role="dialog" aria-labelledby="titolo" aria-hidden="true">
    @{
        await Html.RenderPartialAsync("~/Views/SIO/Patient/Comune/_PartialEdit.cshtml", Model.Row);
    }
</div>
<div class="modal fade" id="DeleteModale" tabindex="-1" role="dialog" aria-labelledby="titolo" aria-hidden="true">
    @{
        await Html.RenderPartialAsync("~/Views/SIO/Patient/Comune/_PartialDelete.cshtml", Model.Row);
    }
</div>
