@model ErpToolkit.Models.SIO.HealthData.SelParametroVitale
@{
    ViewData["Title"] = "ParametroVitale Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "ParametroVitale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelPvClasse" class="control-label"></label>
                    <input asp-for="SelPvClasse" class="form-control" />
                    <span asp-validation-for="SelPvClasse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvIdPaziente" class="control-label"></label>
                    <input asp-for="SelPvIdPaziente" class="form-control" />
                    <span asp-validation-for="SelPvIdPaziente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvIdEpisodio" class="control-label"></label>
                    <input asp-for="SelPvIdEpisodio" class="form-control" />
                    <span asp-validation-for="SelPvIdEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvIdTipoDatoClinico" class="control-label"></label>
                    <input asp-for="SelPvIdTipoDatoClinico" class="form-control" />
                    <span asp-validation-for="SelPvIdTipoDatoClinico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvValoreMinimo" class="control-label"></label>
                    <input asp-for="SelPvValoreMinimo" class="form-control" />
                    <span asp-validation-for="SelPvValoreMinimo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvValoreMassimo" class="control-label"></label>
                    <input asp-for="SelPvValoreMassimo" class="form-control" />
                    <span asp-validation-for="SelPvValoreMassimo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvValoreScelta" class="control-label"></label>
                    <input asp-for="SelPvValoreScelta" class="form-control" />
                    <span asp-validation-for="SelPvValoreScelta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvValoreTesto" class="control-label"></label>
                    <input asp-for="SelPvValoreTesto" class="form-control" />
                    <span asp-validation-for="SelPvValoreTesto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvNote" class="control-label"></label>
                    <input asp-for="SelPvNote" class="form-control" />
                    <span asp-validation-for="SelPvNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvCodiceReferto" class="control-label"></label>
                    <input asp-for="SelPvCodiceReferto" class="form-control" />
                    <span asp-validation-for="SelPvCodiceReferto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvDataAcquisizione" class="control-label"></label>
                    <input asp-for="SelPvDataAcquisizione" class="form-control" />
                    <span asp-validation-for="SelPvDataAcquisizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvOraAcquisizione" class="control-label"></label>
                    <input asp-for="SelPvOraAcquisizione" class="form-control" />
                    <span asp-validation-for="SelPvOraAcquisizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvStatoDatoClinico" class="control-label"></label>
                    <input asp-for="SelPvStatoDatoClinico" class="form-control" />
                    <span asp-validation-for="SelPvStatoDatoClinico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvDataValidazione" class="control-label"></label>
                    <input asp-for="SelPvDataValidazione" class="form-control" />
                    <span asp-validation-for="SelPvDataValidazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvOraValidazione" class="control-label"></label>
                    <input asp-for="SelPvOraValidazione" class="form-control" />
                    <span asp-validation-for="SelPvOraValidazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPvSequenza" class="control-label"></label>
                    <input asp-for="SelPvSequenza" class="form-control" />
                    <span asp-validation-for="SelPvSequenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
