@model ErpToolkit.Models.SIO.Costs.SelDiagnosi
@{
    ViewData["Title"] = "Diagnosi Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Diagnosi", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelDgTipoDiagnosi" class="control-label"></label>
                    <input asp-for="SelDgTipoDiagnosi" class="form-control" />
                    <span asp-validation-for="SelDgTipoDiagnosi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelDgClasse" class="control-label"></label>
                    <input asp-for="SelDgClasse" class="form-control" />
                    <span asp-validation-for="SelDgClasse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelDgDescrizione" class="control-label"></label>
                    <input asp-for="SelDgDescrizione" class="form-control" />
                    <span asp-validation-for="SelDgDescrizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelDgNote" class="control-label"></label>
                    <input asp-for="SelDgNote" class="form-control" />
                    <span asp-validation-for="SelDgNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelDgCodice" class="control-label"></label>
                    <input asp-for="SelDgCodice" class="form-control" />
                    <span asp-validation-for="SelDgCodice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelDgIdGruppo" class="control-label"></label>
                    <input asp-for="SelDgIdGruppo" class="form-control" />
                    <span asp-validation-for="SelDgIdGruppo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelDgTipoDrg" class="control-label"></label>
                    <input asp-for="SelDgTipoDrg" class="form-control" />
                    <span asp-validation-for="SelDgTipoDrg" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelDgTipoIcd9" class="control-label"></label>
                    <input asp-for="SelDgTipoIcd9" class="form-control" />
                    <span asp-validation-for="SelDgTipoIcd9" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
