@model ErpToolkit.Models.SIO.HealthData.SelTipoDatoClinico
@{
    ViewData["Title"] = "TipoDatoClinico Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "TipoDatoClinico", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelTcCodice" class="control-label"></label>
                    <input asp-for="SelTcCodice" class="form-control" />
                    <span asp-validation-for="SelTcCodice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcDescrizione" class="control-label"></label>
                    <input asp-for="SelTcDescrizione" class="form-control" />
                    <span asp-validation-for="SelTcDescrizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcNote" class="control-label"></label>
                    <input asp-for="SelTcNote" class="form-control" />
                    <span asp-validation-for="SelTcNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcIdCategoriaDatoClinico" class="control-label"></label>
                    <input asp-for="SelTcIdCategoriaDatoClinico" class="form-control" />
                    <span asp-validation-for="SelTcIdCategoriaDatoClinico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcUnitaDiMisura" class="control-label"></label>
                    <input asp-for="SelTcUnitaDiMisura" class="form-control" />
                    <span asp-validation-for="SelTcUnitaDiMisura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcIdGruppo" class="control-label"></label>
                    <input asp-for="SelTcIdGruppo" class="form-control" />
                    <span asp-validation-for="SelTcIdGruppo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcSequenza" class="control-label"></label>
                    <input asp-for="SelTcSequenza" class="form-control" />
                    <span asp-validation-for="SelTcSequenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcAttributi1" class="control-label"></label>
                    <input asp-for="SelTcAttributi1" class="form-control" />
                    <span asp-validation-for="SelTcAttributi1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelTcAttributi2" class="control-label"></label>
                    <input asp-for="SelTcAttributi2" class="form-control" />
                    <span asp-validation-for="SelTcAttributi2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
