@model ErpToolkit.Models.SIO.Patient.SelPaziente
@{
    ViewData["Title"] = "Paziente Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Paziente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelPaCodFiscale" class="control-label"></label>
                    <input asp-for="SelPaCodFiscale" class="form-control" />
                    <span asp-validation-for="SelPaCodFiscale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaCodSanitario" class="control-label"></label>
                    <input asp-for="SelPaCodSanitario" class="form-control" />
                    <span asp-validation-for="SelPaCodSanitario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaNome" class="control-label"></label>
                    <input asp-for="SelPaNome" class="form-control" />
                    <span asp-validation-for="SelPaNome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaCognome" class="control-label"></label>
                    <input asp-for="SelPaCognome" class="form-control" />
                    <span asp-validation-for="SelPaCognome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaSesso" class="control-label"></label>
                    <input asp-for="SelPaSesso" class="form-control" />
                    <span asp-validation-for="SelPaSesso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaDataNascita" class="control-label"></label>
                    <input asp-for="SelPaDataNascita" class="form-control" />
                    <span asp-validation-for="SelPaDataNascita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaOraNascita" class="control-label"></label>
                    <input asp-for="SelPaOraNascita" class="form-control" />
                    <span asp-validation-for="SelPaOraNascita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdComuneNascita" class="control-label"></label>
                    <input asp-for="SelPaIdComuneNascita" class="form-control" />
                    <span asp-validation-for="SelPaIdComuneNascita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdNazioneNascita" class="control-label"></label>
                    <input asp-for="SelPaIdNazioneNascita" class="form-control" />
                    <span asp-validation-for="SelPaIdNazioneNascita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdCittadinanza" class="control-label"></label>
                    <input asp-for="SelPaIdCittadinanza" class="form-control" />
                    <span asp-validation-for="SelPaIdCittadinanza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIndirizzoRes" class="control-label"></label>
                    <input asp-for="SelPaIndirizzoRes" class="form-control" />
                    <span asp-validation-for="SelPaIndirizzoRes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaNumCivicoRes" class="control-label"></label>
                    <input asp-for="SelPaNumCivicoRes" class="form-control" />
                    <span asp-validation-for="SelPaNumCivicoRes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaCapRes" class="control-label"></label>
                    <input asp-for="SelPaCapRes" class="form-control" />
                    <span asp-validation-for="SelPaCapRes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdComuneRes" class="control-label"></label>
                    <input asp-for="SelPaIdComuneRes" class="form-control" />
                    <span asp-validation-for="SelPaIdComuneRes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdDistrettoRes" class="control-label"></label>
                    <input asp-for="SelPaIdDistrettoRes" class="form-control" />
                    <span asp-validation-for="SelPaIdDistrettoRes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdNazioneDom" class="control-label"></label>
                    <input asp-for="SelPaIdNazioneDom" class="form-control" />
                    <span asp-validation-for="SelPaIdNazioneDom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaMail" class="control-label"></label>
                    <input asp-for="SelPaMail" class="form-control" />
                    <span asp-validation-for="SelPaMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIndirizzoDom" class="control-label"></label>
                    <input asp-for="SelPaIndirizzoDom" class="form-control" />
                    <span asp-validation-for="SelPaIndirizzoDom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaNumCivicoDom" class="control-label"></label>
                    <input asp-for="SelPaNumCivicoDom" class="form-control" />
                    <span asp-validation-for="SelPaNumCivicoDom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaCapDom" class="control-label"></label>
                    <input asp-for="SelPaCapDom" class="form-control" />
                    <span asp-validation-for="SelPaCapDom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdComuneDom" class="control-label"></label>
                    <input asp-for="SelPaIdComuneDom" class="form-control" />
                    <span asp-validation-for="SelPaIdComuneDom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaTelefono" class="control-label"></label>
                    <input asp-for="SelPaTelefono" class="form-control" />
                    <span asp-validation-for="SelPaTelefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaCellulare" class="control-label"></label>
                    <input asp-for="SelPaCellulare" class="form-control" />
                    <span asp-validation-for="SelPaCellulare" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdDistrettoDom" class="control-label"></label>
                    <input asp-for="SelPaIdDistrettoDom" class="form-control" />
                    <span asp-validation-for="SelPaIdDistrettoDom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaNote" class="control-label"></label>
                    <input asp-for="SelPaNote" class="form-control" />
                    <span asp-validation-for="SelPaNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaDataDecesso" class="control-label"></label>
                    <input asp-for="SelPaDataDecesso" class="form-control" />
                    <span asp-validation-for="SelPaDataDecesso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaOraDecesso" class="control-label"></label>
                    <input asp-for="SelPaOraDecesso" class="form-control" />
                    <span asp-validation-for="SelPaOraDecesso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPaIdNazioneRes" class="control-label"></label>
                    <input asp-for="SelPaIdNazioneRes" class="form-control" />
                    <span asp-validation-for="SelPaIdNazioneRes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
