@model ErpToolkit.Controllers.TestController
@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <p>Questa è una pagina di test</a>.</p>
</div>
