@model ErpToolkit.Models.SIO.Common.SelOrganizzazione
@{
    ViewData["Title"] = "Organizzazione Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Organizzazione", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelOrClasseAssistenza" class="control-label"></label>
                    <input asp-for="SelOrClasseAssistenza" class="form-control" />
                    <span asp-validation-for="SelOrClasseAssistenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrCodice" class="control-label"></label>
                    <input asp-for="SelOrCodice" class="form-control" />
                    <span asp-validation-for="SelOrCodice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrDescrizione" class="control-label"></label>
                    <input asp-for="SelOrDescrizione" class="form-control" />
                    <span asp-validation-for="SelOrDescrizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrNote" class="control-label"></label>
                    <input asp-for="SelOrNote" class="form-control" />
                    <span asp-validation-for="SelOrNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrEmail" class="control-label"></label>
                    <input asp-for="SelOrEmail" class="form-control" />
                    <span asp-validation-for="SelOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrTipoAssistenza" class="control-label"></label>
                    <input asp-for="SelOrTipoAssistenza" class="form-control" />
                    <span asp-validation-for="SelOrTipoAssistenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrTelefono" class="control-label"></label>
                    <input asp-for="SelOrTelefono" class="form-control" />
                    <span asp-validation-for="SelOrTelefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrIdPersonale" class="control-label"></label>
                    <input asp-for="SelOrIdPersonale" class="form-control" />
                    <span asp-validation-for="SelOrIdPersonale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrIdIstituto" class="control-label"></label>
                    <input asp-for="SelOrIdIstituto" class="form-control" />
                    <span asp-validation-for="SelOrIdIstituto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrIdUnita" class="control-label"></label>
                    <input asp-for="SelOrIdUnita" class="form-control" />
                    <span asp-validation-for="SelOrIdUnita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrIdPostazione" class="control-label"></label>
                    <input asp-for="SelOrIdPostazione" class="form-control" />
                    <span asp-validation-for="SelOrIdPostazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrPwdCrypt" class="control-label"></label>
                    <input asp-for="SelOrPwdCrypt" class="form-control" />
                    <span asp-validation-for="SelOrPwdCrypt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrAttivo" class="control-label"></label>
                    <input asp-for="SelOrAttivo" class="form-control" />
                    <span asp-validation-for="SelOrAttivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelOrIdentificativo" class="control-label"></label>
                    <input asp-for="SelOrIdentificativo" class="form-control" />
                    <span asp-validation-for="SelOrIdentificativo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
